		<!-- ABOUT -->
		<section id="about" name="about">
			<div class="container">
				<div class="heading-center">
					<h2 class="section-heading">ABOUT US</h2>
					<p class="lead">Getting to know us better</p>
					<hr>
				</div>
				<p>Completely reinvent business mindshare with superior strategic theme areas. Dramatically build reliable platforms without real-time e-tailers. Competently predominate covalent scenarios rather than future-proof content. Intrinsicly innovate holistic users whereas cost effective partnerships. Objectively transform collaborative outsourcing before an expanded array of services.</p>
				<p>Monotonectally provide access to next-generation imperatives rather than mission-critical materials. Seamlessly negotiate excellent services rather than web-enabled sources. Quickly actualize proactive niches rather than user friendly catalysts for change. Efficiently negotiate distributed experiences for alternative best practices. Efficiently.</p>
				<br>
				<h3 class="section-heading text-center">MEET OUR TEAM</h3>
				<!-- TEAM -->
				<section class="team">
					<div class="section-content">
						<div class="col-md-5">
							<div class="team-member media">
								<img src="../assets/img/team/person1.png" class="media-object img-circle pull-left" alt="" />
								<div class="media-body">
									<h3 class="media-heading team-name">Michael Summer</h3>
									<strong>Executive Director</strong>
									<hr class="pull-left">
									<div class="clearfix"></div>
									<p>Dynamically evolve client-based portals through world-class models. Phosfluorescently simplify cross-platform convergence and multimedia based portals. Rapidiously.</p>
									<ul class="list-inline social-icon">
										<li>
											<a href="#"><i class="fa fa-facebook"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-twitter"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-linkedin"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-5 col-md-offset-2">
							<div class="team-member media">
								<img src="../assets/img/team/person2.png" class="media-object img-circle pull-left" alt="" />
								<div class="media-body">
									<h3 class="media-heading team-name">Jane Doe</h3>
									<strong>Art Director</strong>
									<hr class="pull-left">
									<div class="clearfix"></div>
									<p>Dynamically evolve client-based portals through world-class models. Phosfluorescently simplify cross-platform convergence and multimedia based portals. Rapidiously.</p>
									<ul class="list-inline social-icon">
										<li>
											<a href="#"><i class="fa fa-facebook"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-twitter"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-linkedin"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-5">
							<div class="team-member media">
								<img src="../assets/img/team/person3.png" class="media-object img-circle pull-left" alt="" />
								<div class="media-body">
									<h3 class="media-heading team-name">Cindy Marry</h3>
									<strong>UI Designer</strong>
									<hr class="pull-left">
									<div class="clearfix"></div>
									<p>Dynamically evolve client-based portals through world-class models. Phosfluorescently simplify cross-platform convergence and multimedia based portals. Rapidiously.</p>
									<ul class="list-inline social-icon">
										<li>
											<a href="#"><i class="fa fa-facebook"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-twitter"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-linkedin"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-dribbble"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-5 col-md-offset-2">
							<div class="team-member media">
								<img src="../assets/img/team/person4.png" class="media-object img-circle pull-left" alt="" />
								<div class="media-body">
									<h3 class="media-heading team-name">Phillips Abraham</h3>
									<strong>Front-end Developer</strong>
									<hr class="pull-left">
									<div class="clearfix"></div>
									<p>Dynamically evolve client-based portals through world-class models. Phosfluorescently simplify cross-platform convergence and multimedia based portals. Rapidiously.</p>
									<ul class="list-inline social-icon">
										<li>
											<a href="#"><i class="fa fa-facebook"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-twitter"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-linkedin"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-dribbble"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- END TEAM -->
			</div>
		</section>
		<!-- END ABOUT -->