		<!-- HERO UNIT -->
		<section class="hero-unit-animated">
			<div id="carousel-hero-animated" class="carousel">
				<!-- Slide Wrapper -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<div class="container">
							<div class="hero-left pull-left">
								<div class="hero-text">
									<h2 class="hero-heading animated fadeIn animation-delay-5 hero-glow">Dynamics 365</h2>
									<p class="lead animated fadeIn animation-delay-7"></p>
								</div>
								<a href="#about" class="btn btn-info btn-lg hero-button animated fadeIn animation-delay-7">LEARN MORE</a>
							</div>
							<div class="hero-right pull-right">
								<img src="/assets/img/hero-unit/obj.png" class="animated fadeInRight animation-delay-9" alt="Dynamics 365">
							</div>
						</div>
					</div>
					<div class="item">
						<div class="container">
							<div class="hero-left pull-left">
								<div class="hero-text">
									<h2 class="hero-heading animated fadeIn animation-delay-5 hero-glow">Power Platform</h2>
									<p class="lead animated fadeIn animation-delay-7"></p>
								</div>
								<a href="#about" class="btn btn-info btn-lg hero-button animated fadeIn animation-delay-7">LEARN MORE</a>
							</div>
							<div class="hero-right pull-right">
								<img src="/assets/img/hero-unit/obj2.png" class="animated fadeInRight animation-delay-9" alt="Power Platform">
							</div>
						</div>
					</div>
					<div class="item">
						<div class="container">
							<div class="hero-left pull-left">
								<div class="hero-text">
									<h2 class="hero-heading animated fadeIn animation-delay-5 hero-glow">Full-stack Development</h2>
									<p class="lead animated fadeIn animation-delay-7"></p>
								</div>
								<a href="#about" class="btn btn-info btn-lg hero-button animated fadeIn animation-delay-7">LEARN MORE</a>
							</div>
							<div class="hero-right pull-right">
								<img src="/assets/img/hero-unit/obj3.png" class="animated fadeInRight animation-delay-9" alt="Full-stack Development">
							</div>
						</div>
					</div>
				</div>
				<!-- End Slide Wrapper -->
				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-hero-animated" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#carousel-hero-animated" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
				<!-- End Controls -->
				<!-- Pagination -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-hero-animated" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-hero-animated" data-slide-to="1"></li>
					<li data-target="#carousel-hero-animated" data-slide-to="2"></li>
				</ol>
				<!-- End Pagination -->
			</div>
		</section>
		<!-- END HERO UNIT -->