		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-dark navbar-fixed-top shrinkable" role="navigation">
			<div class="container">
				<!-- TOPBAR -->
				<div class="topbar">
					<ul class="list-inline ">
						<li>
							<a href="#"><i class="fa fa-facebook fa-2x facebook-color"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-linkedin fa-2x linkedin-color"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-twitter fa-2x twitter-color"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-youtube fa-2x youtube-color"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-github fa-2x github-color"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-twitch fa-2x twitch-color"></i></a>
						</li>
					</ul>
				</div>
				<!-- END TOPBAR -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
						<span class="sr-only">Toggle Navigation</span>
						<i class="glyphicon glyphicon-menu-hamburger"></i>
					</button>
					<a href="#top" class="navbar-brand navbar-logo">
						<img src="/assets/img/logo/phoenixinobi-logo.png" alt="{{ page.title }} – {{ page.description }}">
					</a>
				</div>
				<!-- MAIN NAVIGATION -->
				<div id="main-nav" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#top">HOME</a>
						</li>
						<li>
							<a href="#about">ABOUT</a>
						</li>
					</ul>
				</div>
				<!-- MAIN NAVIGATION -->
			</div>
		</nav>
		<!-- END NAVBAR -->