		<!-- SERVICES -->
		<section id="services">
			<div class="container">
				<div class="heading-center">
					<h2 class="section-heading">SERVICES</h2>
					<p class="lead">What we deliver to you</p>
					<hr>
				</div>
				<!-- BOXED CONTENT -->
				<div class="row">
					<div class="col-md-4">
						<div class="boxed-content left-aligned left-boxed-icon">
							<i class="fa fa-flag"></i>
							<h2 class="boxed-content-title">GOAL ORIENTED</h2>
							<p>Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="boxed-content left-aligned left-boxed-icon">
							<i class="fa fa-globe"></i>
							<h2 class="boxed-content-title">GLOBAL SERVICE</h2>
							<p>Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="boxed-content left-aligned left-boxed-icon">
							<i class="fa fa-cog"></i>
							<h2 class="boxed-content-title">DYNAMIC CHANGE</h2>
							<p>Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="boxed-content left-aligned left-boxed-icon">
							<i class="fa fa-line-chart"></i>
							<h2 class="boxed-content-title">GROWTH &amp; EXPANSION</h2>
							<p>Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="boxed-content left-aligned left-boxed-icon">
							<i class="fa fa-trophy"></i>
							<h2 class="boxed-content-title">BE A WINNER</h2>
							<p>Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="boxed-content left-aligned left-boxed-icon">
							<i class="fa fa-sitemap"></i>
							<h2 class="boxed-content-title">ORGANIZATION</h2>
							<p>Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.</p>
						</div>
					</div>
				</div>
				<!-- END BOXED CONTENT -->
			</div>
		</section>
		<!-- END SERVICES -->