.navbar-default.navbar-dark {
    background-color: #808080;
}

.navbar-brand.navbar-logo > img {
    position: relative;
    margin-top: -50px;
    width: 80px;
}

.navbar-fixed-top.shrink-active .navbar-brand > img {
    position: relative;
    margin-top: -10px;
    width: 40px;
}

/* Small Device */
@media only screen and (max-width: 1023px) {
    .topbar {
        text-align: right;
    }

    .navbar-brand.navbar-logo > img {
        position: relative;
        width: 80px;
    }
    
    .navbar-fixed-top.shrink-active .navbar-brand > img {
        width: 40px;
    }
    
    .navbar-right {
        margin-top: 0px;
    }
}

@media screen and (min-width:768px){
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next,
    .carousel-control .icon-prev
    {
        font-size:20px;
    }
}

.facebook-color {
    color: #344F98;
}

.linkedin-color {
    color: #0077B5;
}

.twitter-color {
    color: #138BEE;
}

.youtube-color {
    color: #dd4b39;
}

.github-color {
    color: #24292E;
}

.twitch-color {
    color: #6441A4;
}